<form class="row form" role="form" id="add_form" >
    <div class="form-group mb-4 col-md-6">
        <!-- <label for="">
    <i class="eva eva-person-outline"></i>
</label> -->
        <input type="text" name="name" id="name" class="form-control" placeholder="Your Name"
            required="">

    </div>
    <div class="form-group mb-4 col-md-6">
        <!-- <label for="">
    <i class="eva eva-email-outline"></i>
</label> -->
        <input type="email" required="" id="email"  name="email" class="form-control"
            placeholder="Your email" aria-describedby="helpId">

    </div>
    <div class="form-group mb-4 col-md-12">
        <!-- <label for="">
    <i class="eva eva-edit-2-outline"></i>
</label> -->
        <input type="text" required="" id="subject" name="subject" class="form-control"
            placeholder="Your subject here" aria-describedby="helpId">

    </div>

    <div class="form-group mb-4 col-md-12">

        <!-- <label for="">
    <i class="eva eva-edit-outline"></i>
</label> -->
        <textarea class="form-control" id="message" name="message" placeholder="Your message here" required=""
            name="message" rows="3"></textarea>


    </div>

    <div class="form-group col-md-12">
        <button type="submit"
            class="btn btn-block half-button form-submit-button btn-large btn-gradient">
            Send
            message
        </button>

    </div>


</form>

