<footer class="main-footer mt-5 ">
    <div class="footer-left">
        <a href="#">Templateshub</a></a>
    </div>
    <div class="footer-right">
    </div>
</footer>
</div>
</div>
</body>



<!-- General JS Scripts -->
<script src="/assets/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="/assets/bundles/apexcharts/apexcharts.min.js"></script>
<!-- Page Specific JS File -->
<script src="/assets/js/page/index.js"></script>
<!-- Template JS File -->
<script src="/assets/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/assets/js/custom.js"></script>

<script src="/assets/js/getFormData.js"></script>
<script src="/assets/js/displayPP.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<!-- <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
<script src="/assets/js/script.js"></script>
<script src="/assets/js/snackbar.min.js"></script>
<script src="/assets/js/switch.min.js"></script>
<script src="/assets/js/timepicker.js"></script>
<script src="/assets/js/getFormData.js"></script>
<script src="/assets/js/getParam.js"></script>
<!-- <script src="/assets/js/ckeditor/ckeditor.js"></script> -->
<!-- <script src="/assets/js/ckeditor/ckeditor.map"></script> -->
<!-- <script src="/assets/js/ck.js"></script> -->




<!-- <script src="/assets/bundles/bundles/codemirror/lib/codemirror.js"></script> -->
<!-- <script src="/assets/bundles/bundles/codemirror/mode/javascript/javascript.js"></script> -->
<!-- <script src="/assets/bundles/bundles/jquery-selectric/jquery.selectric.min.js"></script> -->
<!-- <script src="/assets/bundles/bundles/ckeditor/ckeditor.js"></script> -->
<!-- <script src="/assets/bundles/page/ckeditor.js"></script> -->

<script src="/assets/bundles/bundles/summernote/summernote-bs4.js"></script>
<script>
    $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 100,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
  </script>
</html>